#main-content {
  border: 1px solid black;
  margin: 28px;
}

.calendar {
  width: min-content;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  background-color: #f60665;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

#month-year {
  font-size: 1.2em;
  font-weight: bold;
}

.calendar-weekdays,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  user-select: none;
}

.calendar-weekdays div,
.calendar-dates div {
  text-align: center;
  padding: 10px;
}

.calendar-weekdays {
  background-color: #FFBA08;
}

.calendar-weekdays div {
  font-weight: bold;
}

.calendar-dates div {
  border-bottom: 1px solid #eaeef3;
  cursor: pointer;
}

.calendar-dates div:hover {
  color: #FFBA08;
  background-color: #f60665;
}

.suggested-day {
  background-color: #f60665;
  border-radius: 50%;
}

.selected-day {
  background-color: #00e8fc;
}

.current-date {
  color: #FFBA08;
  border-radius: 50%;
}

.calendar-weekdays .btn-check:checked + .btn-active {
  background-color: #f60665;
  color: #fff5f5;
  border-color: transparent;
}

.calendar-weekdays .btn-check + .btn:hover {
  background-color: #1c3144;
  color: white;
  border-color: transparent;
}

.calendar-weekdays .btn.btn-inactive {
  background-color: #6d6d6c;
  color: black;
  border-color: transparent;
}

#submit-event-mobile {
  display: none;
}

@media only screen and (max-device-width: 992px) {
  /* styles for mobile browsers smaller than 990px; */
  #submit-event {
    display: none;
  }

  #submit-event-mobile {
    display: block;
    /* 342px so as to max the calendar width of min-content */
    max-width: 342px;
    margin: auto;
  }
}
