/* Style Guide

////////COLOURS\\\\\\\\\

URL: https://coolors.co/f60665-1c3144-00e8fc-ffba08-fff5f5

***CERISE***
Primary headers, branding, buttons
#F60665

***PRUSSIAN BLUE***
Dark background, dark text, Nav bar background, header/footer bar background,
#1C3144

***SNOW***
Light text
#FFF5F5

***SELECTIVE YELLOW***
Card background, containers, secondary headers
#FFBA08

***ELECTRIC BLUE***
hover, highlights, onclick
#00E8FC

///////FONTS\\\\\\\\\

***NAUTILUS***
Branding, Primary headers, button text, text that needs *flair*

***GARAMOND***
Font for anything else not listed above.

***HELVETICA***
Backup font for if above fonts fail to load

*/

/* General Styling */

@font-face {
  font-family: Nautilus;
  src: url(../fonts/Nautilus.otf);
}

@font-face {
  font-family: Garamond;
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf");
}

body {
  background-color: #f5f5f5;
  font-family: Garamond, Helvetica;
  font-weight: bold;
  text-align: center;
}

.d-inline-block {
  width: 150px;
  min-height: auto;
}

.navbar {
  padding: 0;
}

.container-fluid {
  background-color: #1c3144;
}

.hero-header {
  font-family: Nautilus;
  color: #f60665;
}

.light-container {
  background-color: lightgrey;
}

.sweet-button {
  background-color: #f60665;
  color: white;
  border-color: transparent;
  font-family: Nautilus;
}

.sweet-button:hover {
  background-color: #00e8fc;
  color: #1c3144;
  border-color: transparent;
}

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.footer > .container {
  gap: 20px;
  padding: 8px;
  margin: 0;
  max-width: 100%;
  background-color: #1c3144;
}

/* login.html Specific Styling */

.btn-active {
  background-color: #00e8fc;
  color: #1c3144;
  border-color: transparent;
}

.btn-inactive {
  background-color: #1c3144;
  color: #f60665;
  border-color: transparent;
}

/* .login:active,
.hero-sign-up:active {
  background-color: #1C3144;
  color: #FFF5F5;
  border-color: transparent;
} */

.signup-box {
  background-color: #ffba08;
}

.selective-yellow {
  background-color: #ffba08;
}

.sit-center {
  text-align: center;
}

/* Main.html Specific Styling */

#event-container {
  padding: 2% 3%;
  height: 75vh;
}

legend {
  font-family: Nautilus;
  color: #1c3144;
}

.secondary-header {
  color: #ffba08;
}

.event-text {
  text-align: left;
}

.center {
  text-align: center;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* event-page.html Specific Styling */

.code-container {
  background-color: #fff5f5;
  color: #1c3144;
  height: 50px;
}

.image-button {
  width: 60px; /* Set desired width */
  height: 65px; /* Set desired height */
  background: url('/images/SweetSpot_AddEvent.svg') no-repeat center center;
  background-size: cover;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.image-button:hover {
  filter: brightness(1) invert(1) sepia(1) saturate(3) hue-rotate(160deg); /* Changes color on hover */
}

.image-menu {
  width: 75px; /* Set desired width */
  height: 60px; /* Set desired height */
  background: url('/images/menu_icon.png') no-repeat center center;
  background-size: cover;
  background-color: #f60665;
}