@font-face {
  font-family: Nautilus;
  src: url(../Fonts/Nautilus.otf);
}

body{
  background-color: whitesmoke;
}

.d-inline-block {
  width: 150px;
  min-height: auto;
}

.navbar {
  padding: 0;
}

.container-fluid {
  background-color: #702e33;
}


#hero h1{
  font-family: Nautilus;
  /* This isn't working and I don't know why */
  color: #e05c66;
}

/* This doesn't seem to be working */
/* #hero-signup-box{
  background-color: #f7d6d8;
} */

.login,
.hero-sign-up {
  background-color: #e05c66ff;
  color: white;
  border-color: transparent;
  font-family: Nautilus;
}

.login:hover,
.hero-sign-up:hover {
  background-color: #5ce0d6;
  border-color: transparent;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer > .container {
  padding: 8px;
  margin: 0;
  max-width: 100%;
  background-color: #702e33;
}
